@model ClaimInfo.Models.Dashboard837ViewModel

<div style="width: 10%;
    float: left;
    text-align: center;" >
    <label class="lblCount"> @Model.FileCount </label>
</div>
<div style="width: 10%;
    float: left;
    text-align: center;" >
    <label class="lblCount"> @Model.EDIFailLoadCount </label>
</div>
<div style="width: 10%;
    float: left;
    text-align: center;" >
    <label class="lblCount"> @Model.SubmittedClaimCount </label>
</div>
<div style="width: 10%;
    float: left;
    text-align: center;" >
    <label class="lblCount"> @Model.AcceptedClaimCount </label>
</div>
<div style="width: 10%;
    float: left;
    text-align: center;" >
    <label class="lblCount">@Model.RejectedClaimCount </label>
</div>
<div class="clearfix"></div>

